<div class="container">
  <form method='POST'>
    Title: <input type='text' name='title'><br>
    <textarea rows='10' cols='30' name='content'>Type the note here!</textarea><br>
    <input type='submit' value='Submit!'>
  </form>
</div>

