<div class="container">
  <form action="/notes/ <%= @note.id %>" method='post'>
    Title: <input type='text' name='title'><br />
    <textarea rows='10' cols='30' name='note[content]'>Type the note here!</textarea><br />
    <input type='submit' name='note[title]' value='Submit!'/>
    <input type="hidden" name="_method" value="put"/>
    <input type="submit" name="_method" value="delete"/>
  </form>
  <a class='home' href='/'>Home<a />
</div>


